* text=auto eol=lf
*.ipynb linguist-vendored
weights/** linguist-vendored
modelsTf/** filter=lfs diff=lfs merge=lfs -text
modelsTfjs/** linguist-vendored
modelsTf/** filter=lfs diff=lfs merge=lfs -text
